/* Main CSS Entry Point */

/* Reset & Base */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

/* Layout */
@import "./layout/header.css";
@import "./layout/footer.css";

/* Components */
@import './components/general.css';
/* @import './components/buttons.css'; */

/* Pages */
/* @import './pages/home.css'; */

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color, #f9f9f9);
  color: var(--text-color, #333);
}
